* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Capriola", sans-serif;
  background: #091337;
}

h1 {
  font-size: 2.5rem;
  font-weight: lighter;
}

.primary-head {
  font-weight: lighter;
  text-align: center;
  font-size: 2.5rem;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  -webkit-text-decoration-color: #091337;
          text-decoration-color: #091337;
}
@media only screen and (max-width: 769px) {
  .primary-head {
    font-size: 2rem;
    padding: 0.5rem;
  }
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 1rem 0rem;
  background: white;
  transition: top 0.3s ease;
  position: fixed;
  top: 0vh;
  z-index: 5;
  transition: all 0.4s ease;
}
nav .nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-around;
}
nav .nav-links li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
@media only screen and (max-width: 768px) {
  nav {
    width: 40%;
    height: 40%;
    position: fixed;
    top: 3vh;
    right: 3vh;
    opacity: 0;
    pointer-events: none;
  }
  nav .nav-links {
    flex-direction: column;
    align-items: center;
    height: 60%;
  }
}

.nav-active {
  opacity: 1;
  pointer-events: all;
}

.hamburger {
  position: fixed;
  padding: 0.7rem 0rem;
  top: 3vh;
  right: 3vh;
  background: white;
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 6;
  display: none;
}
.hamburger .line1,
.hamburger .line2,
.hamburger .line3 {
  width: 60%;
  height: 3px;
  background: black;
  transition: all 0.4s ease-out;
}
.hamburger .line1-active {
  transform: rotate(45deg);
  margin-top: 2vh;
}
.hamburger .line2-active {
  opacity: 0;
}
.hamburger .line3-active {
  transform: rotate(-45deg);
  margin-top: -1.5vh;
}
@media only screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}

.home {
  display: flex;
  padding: 0rem 3rem;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.home .text {
  margin: 4rem 0rem;
  width: auto;
  padding: 0rem 1rem;
  color: white;
}
.home .text .name {
  text-shadow: -5 px 5px 4px #000000;
  font-size: 3.5rem;
  margin: 0.5rem 0rem;
  font-weight: bold;
}
.home .text h2 {
  font-size: 2rem;
  font-weight: normal;
}
.home .text p {
  font-size: 1.5rem;
  width: 90%;
}
.home .text button {
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background: #14266a;
  color: white;
  font-size: 1.2rem;
  margin: 2rem 0rem;
}
.home .text button a {
  text-decoration: none;
  color: white;
}
.home .text .icons {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
}
.home .text .icons a {
  text-decoration: none;
  color: white;
}
.home .text .icons .line {
  width: 30%;
  height: 4px;
  background-color: white;
}
.home .image {
  width: 70%;
  margin: 3rem 0rem;
}
.home .image img {
  width: 100%;
}
.home svg {
  pointer-events: none;
  position: absolute;
  bottom: -2px;
}
.home svg path {
  fill: white;
}
@media only screen and (max-width: 1200px) {
  .home .image {
    width: 100%;
  }
  .home .text h2 {
    font-size: 1.5rem;
  }
  .home .text .name {
    font-size: 2.8rem;
  }
  .home .text p {
    font-size: 1.3rem;
  }
  .home .text .icons {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .home {
    flex-direction: column;
    padding: 2rem 0rem;
    align-items: center;
  }
  .home .text {
    align-items: center;
  }
  .home .text .icons {
    width: 100%;
  }
  .home .image {
    margin: 0rem;
  }
}

.skills {
  background-color: white;
}
.skills .skills-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.skills .skills-container h3 {
  width: 50%;
  font-weight: lighter;
  text-align: center;
}
.skills .skills-container .icons {
  font-size: 3rem;
  display: grid;
  grid-template-columns: repeat(6, 100px);
  margin: 3rem 0rem;
}
.skills .skills-container .icons img {
  width: 50px;
}
@media only screen and (max-width: 768px) {
  .skills .skills-container .icons {
    place-items: center;
    grid-template-columns: repeat(3, 120px);
  }
  .skills .skills-container .icons img {
    margin: 30px 0px;
  }
}
.skills .worked-on .works-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 380px));
  place-content: center;
  padding: 3rem 0rem;
}
.skills .worked-on .works-container .works-card {
  margin: 2rem 0rem;
  border-radius: 10px;
  width: 80%;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 3;
  position: relative;
  background: white;
}
.skills .worked-on .works-container .works-card .text {
  padding: 0.5rem 1.5rem;
  margin: 2rem 0rem;
}
.skills .worked-on .works-container .works-card .text h1 {
  text-align: center;
  margin: 0.5rem 0rem;
}
.skills .worked-on .works-container .works-card::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #8e7def 0%, #6cf8e7 100%);
  transform: translate3d(0px, 0px, 0) scale(0.95);
  filter: blur(20px);
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: inherit;
}
.skills .worked-on .works-container .works-card::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.works .primary-head {
  color: white;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
}
.works .container {
  display: grid;
  grid-template-columns: auto;
  margin: 3rem 0rem;
  place-content: center;
}
.works .container .card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  border-radius: 10px;
  max-width: 90vw;
  margin: 1.5rem 0rem;
  position: relative;
}
.works .container .card .text,
.works .container .card .img {
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.works .container .card .img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
}
.works .container .card .img img {
  width: 100%;
}
.works .container .card .text {
  flex-direction: column;
  align-items: flex-start;
}
.works .container .card .text a {
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
  margin: 1rem 0rem;
  position: relative;
  overflow: hidden;
}
.works .container .card .text a::after {
  content: "";
  width: 100%;
  height: 2px;
  background: rgb(0, 0, 0);
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
.works .container .card .text a:hover::after {
  transform: translateX(0%);
}
.works .container .card .text h1 {
  margin: 0.5rem 0rem;
  font-size: 2.5rem;
}
.works .container .card .text h4 {
  font-weight: lighter;
  width: 70%;
}
@media only screen and (max-width: 768px) {
  .works .container .card {
    flex-direction: column-reverse;
  }
  .works .container .card:nth-child(2) {
    flex-direction: column;
  }
  .works .container .card .text,
.works .container .card .img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
  }
  .works .container .card .text {
    padding: 1rem;
    align-items: center;
  }
}

.connect {
  display: flex;
  position: relative;
  flex-direction: column;
}
.connect svg {
  position: absolute;
  bottom: -20vh;
  z-index: -1;
}
.connect .primary-head {
  color: white;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
}
.connect .container {
  display: flex;
  padding: 3rem;
  position: relative;
}
.connect .container .left,
.connect .container .right {
  width: 50vw;
}
.connect .container .line {
  width: 4px;
  height: 100%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 4rem 0rem;
}
.connect .container .left {
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
}
.connect .container .left .text {
  font-weight: lighter;
}
.connect .container .left .text h1 {
  margin: 0.5rem 0rem;
  font-weight: lighter;
}
.connect .container .left .text .icons {
  margin: 1.5rem 0rem;
  font-size: 1.8rem;
}
.connect .container .left .text .icons a {
  text-decoration: none;
  color: white;
}
.connect .container .left .text .icons i {
  margin: 0rem 0.5rem;
}
.connect .container .right {
  padding: 2rem;
}
.connect .container .right h2 {
  color: white;
  width: 80%;
  font-weight: lighter;
}
.connect .container .right form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin: 2rem 0rem;
  width: 100%;
  padding: 0rem;
}
.connect .container .right form label {
  width: 75%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.connect .container .right form label input {
  width: 50%;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  background: #14266a;
  border: none;
  color: white;
}
.connect .container .right form label:nth-child(2) input {
  height: 100px;
  margin-right: 10px;
}
.connect .container .right form button {
  width: 25%;
  border: none;
  background: #14266a;
  border-radius: 5px;
  padding: 0.7rem 2rem;
  color: white;
  margin-left: 30%;
}
@media only screen and (max-width: 1200px) {
  .connect .right form {
    width: 50vw;
    padding: 0rem;
  }
  .connect .right form label {
    width: 100% !important;
  }
  .connect .right form label input {
    width: 100%;
  }
  .connect .right form button {
    margin-left: 16vw !important;
  }
}
@media only screen and (max-width: 990px) {
  .connect .line {
    display: none;
  }
  .connect .container {
    flex-direction: column-reverse;
  }
  .connect .container .left {
    width: 100%;
    text-align: center;
  }
  .connect .container .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .connect .container .right h2 {
    text-align: center;
    width: 100%;
  }
  .connect .container .right form {
    width: 80%;
  }
  .connect .container .right form label {
    margin: 1rem 0rem;
  }
  .connect .container .right form button {
    width: 150px;
    margin-left: 39% !important;
  }
}
@media only screen and (max-width: 768px) {
  .connect svg {
    display: none;
  }
  .connect .container {
    padding: 1rem;
  }
  .connect .container .right {
    padding: 0rem;
  }
  .connect .container .right form {
    width: 100% !important;
  }
}/*# sourceMappingURL=main.css.map */