$primary-color: #091337;
$secondary-color: #14266a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Capriola", sans-serif;
  background: $primary-color;
}

h1 {
  font-size: 2.5rem;
  font-weight: lighter;
}

.primary-head {
  font-weight: lighter;
  text-align: center;
  font-size: 2.5rem;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: $primary-color;
  @media only screen and(max-width: 769px) {
    font-size: 2rem;
    padding: 0.5rem;
  }
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 1rem 0rem;
  background: white;
  transition: top 0.3s ease;
  position: fixed;
  top: 0vh;
  z-index: 5;
  transition: all 0.4s ease;
  .nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;
    li a {
      text-decoration: none;
      color: rgb(0, 0, 0);
    }
  }
  @media only screen and(max-width: 768px) {
    width: 40%;
    height: 40%;
    position: fixed;
    top: 3vh;
    right: 3vh;
    opacity: 0;
    pointer-events: none;
    .nav-links {
      flex-direction: column;
      align-items: center;
      height: 60%;
    }
  }
}

.nav-active {
  opacity: 1;
  pointer-events: all;
}

.hamburger {
  position: fixed;
  padding: 0.7rem 0rem;
  top: 3vh;
  right: 3vh;
  background: white;
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 6;
  display: none;
  .line1,
  .line2,
  .line3 {
    width: 60%;
    height: 3px;
    background: black;
    transition: all 0.4s ease-out;
  }
  .line1-active {
    transform: rotate(45deg);
    margin-top: 2vh;
  }
  .line2-active {
    opacity: 0;
  }
  .line3-active {
    transform: rotate(-45deg);
    margin-top: -1.5vh;
  }
  @media only screen and(max-width: 768px) {
    display: flex;
  }
}

.home {
  display: flex;
  padding: 0rem 3rem;
  align-items: center;
  justify-content: space-around;
  position: relative;
  .text {
    margin: 4rem 0rem;
    width: auto;
    padding: 0rem 1rem;
    color: white;
    .name {
      text-shadow: -5 px 5px 4px #000000;
      font-size: 3.5rem;
      margin: 0.5rem 0rem;
      font-weight: bold;
    }
    h2 {
      font-size: 2rem;
      font-weight: normal;
    }
    p {
      font-size: 1.5rem;
      width: 90%;
    }
    button {
      padding: 0.7rem 2rem;
      border: none;
      border-radius: 0.5rem;
      background: $secondary-color;
      color: white;
      font-size: 1.2rem;
      margin: 2rem 0rem;
      a {
        text-decoration: none;
        color: white;
      }
    }
    .icons {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 1.5rem;
      a {
        text-decoration: none;
        color: white;
      }
      .line {
        width: 30%;
        height: 4px;
        background-color: white;
      }
    }
  }
  .image {
    width: 70%;
    margin: 3rem 0rem;
    img {
      width: 100%;
    }
  }
  svg {
    pointer-events: none;
    position: absolute;
    bottom: -2px;
    path {
      fill: white;
    }
  }
  @media only screen and(max-width: 1200px) {
    .image {
      width: 100%;
    }
    .text {
      h2 {
        font-size: 1.5rem;
      }
      .name {
        font-size: 2.8rem;
      }
      p {
        font-size: 1.3rem;
      }
      .icons {
        width: 80%;
      }
    }
  }
  @media only screen and(max-width: 768px) {
    flex-direction: column;
    padding: 2rem 0rem;
    align-items: center;
    .text {
      align-items: center;
      .icons {
        width: 100%;
      }
    }
    .image {
      margin: 0rem;
    }
  }
}

.skills {
  background-color: white;
  .skills-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    h3 {
      width: 50%;
      font-weight: lighter;
      text-align: center;
    }
    .icons {
      font-size: 3rem;
      display: grid;
      grid-template-columns: repeat(6, 100px);
      margin: 3rem 0rem;
      img {
        width: 50px;
      }
      @media only screen and(max-width: 768px) {
        place-items: center;
        grid-template-columns: repeat(3, 120px);
        img {
          margin: 30px 0px;
        }
      }
    }
  }
  .worked-on {
    .works-container {
      display: grid;
      place-items: center;
      grid-template-columns: repeat(auto-fit, minmax(300px, 380px));
      place-content: center;
      padding: 3rem 0rem;
      .works-card {
        margin: 2rem 0rem;
        border-radius: 10px;
        width: 80%;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 3;
        position: relative;
        background: white;
        .text {
          padding: 0.5rem 1.5rem;
          h1 {
            text-align: center;
            margin: 0.5rem 0rem;
          }
          margin: 2rem 0rem;
        }
        &::before {
          content: "";
          z-index: -1;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: linear-gradient(-45deg, #8e7def 0%, #6cf8e7 100%);
          transform: translate3d(0px, 0px, 0) scale(0.95);
          filter: blur(20px);
          opacity: 1;
          transition: opacity 0.3s;
          border-radius: inherit;
        }
        &::after {
          content: "";
          z-index: -1;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: inherit;
          border-radius: inherit;
        }
      }
    }
  }
}

.works {
  .primary-head {
    color: white;
    text-decoration-color: white;
  }
  .container {
    display: grid;
    grid-template-columns: auto;
    margin: 3rem 0rem;
    place-content: center;
    .card {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: white;
      border-radius: 10px;
      max-width: 90vw;
      margin: 1.5rem 0rem;
      position: relative;
      .text,
      .img {
        padding: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: relative;
        img {
          width: 100%;
        }
      }
      .text {
        flex-direction: column;
        align-items: flex-start;
        a {
          text-decoration: none;
          color: black;
          margin: 1rem 0rem;
        }
        h1 {
          margin: 0.5rem 0rem;
          font-size: 2.5rem;
        }
        h4 {
          font-weight: lighter;
          width: 70%;
        }
      }
    }
    @media only screen and(max-width: 768px) {
      .card {
        flex-direction: column-reverse;
        &:nth-child(2) {
          flex-direction: column;
        }
        .text,
        .img {
          object-fit: contain;
          width: 100%;
        }
        .text {
          padding: 1rem;
          align-items: center;
        }
      }
    }
  }
}

.connect {
  display: flex;
  position: relative;
  flex-direction: column;
  svg {
    position: absolute;
    bottom: -20vh;
    z-index: -1;
  }
  .primary-head {
    color: white;
    text-decoration-color: white;
  }
  .container {
    display: flex;
    padding: 3rem;
    position: relative;
    .left,
    .right {
      width: 50vw;
    }
    .line {
      width: 4px;
      height: 100%;
      background: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 4rem 0rem;
    }
    .left {
      align-items: center;
      display: flex;
      justify-content: center;
      color: white;
      flex-direction: column;
      .text {
        font-weight: lighter;
        h1 {
          margin: 0.5rem 0rem;
          font-weight: lighter;
        }
        .icons {
          margin: 1.5rem 0rem;
          font-size: 1.8rem;
          a {
            text-decoration: none;
            color: white;
          }
          i {
            margin: 0rem 0.5rem;
          }
        }
      }
    }
    .right {
      padding: 2rem;
      h2 {
        color: white;
        width: 80%;
        font-weight: lighter;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        margin: 2rem 0rem;
        width: 100%;
        padding: 0rem;
        label {
          width: 75%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: space-around;
          input {
            width: 50%;
            padding: 0.8rem 1rem;
            border-radius: 5px;
            background: $secondary-color;
            border: none;
            color: white;
          }
          &:nth-child(2) {
            input {
              height: 100px;
              margin-right: 10px;
            }
          }
        }
        button {
          width: 25%;
          border: none;
          background: $secondary-color;
          border-radius: 5px;
          padding: 0.7rem 2rem;
          color: white;
          margin-left: 30%;
        }
      }
    }
  }
  @media only screen and(max-width: 1200px) {
    .right {
      form {
        width: 50vw;
        padding: 0rem;
        label {
          width: 100% !important;
          input {
            width: 100%;
          }
        }
        button {
          margin-left: 16vw !important;
        }
      }
    }
  }
  @media only screen and(max-width: 990px) {
    .line {
      display: none;
    }
    .container {
      flex-direction: column-reverse;
      .left {
        width: 100%;
        text-align: center;
      }
      .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          text-align: center;
          width: 100%;
        }
        width: 100%;
        form {
          width: 80%;
          label {
            margin: 1rem 0rem;
          }
          button {
            width: 150px;
            margin-left: 39% !important;
          }
        }
      }
    }
  }
  @media only screen and(max-width: 768px) {
    svg {
      display: none;
    }
    .container {
      padding: 1rem;
      .right {
        padding: 0rem;
        form {
          width: 100% !important;
        }
      }
    }
  }
}
